@charset "utf-8";
body
{
    /* this affects the margin on the content before sending to printer */
    margin: 0px;
    font-family: Calibri;
}


td {
  background: None;
  border-collapse: None;
  border:1px solid black;
  font-family: Calibri;

  }
tr {
  border-collapse: None;
  border:1px solid black;
  font-family: Calibri;

  }

th {
  font-weight: bold;
  color: black;
  border-collapse: None;
  border-left:1px solid black;
  font-family: Calibri;
}

