@charset "utf-8";
body
{
    /* this affects the margin on the content before sending to printer */
    font-family: Arial;
    color: black;

}


td {
  background: None;
  font-family: Arial;
  color: black;

  }
tr {
  font-family: Arial;
  color: black;

  }

th {
  color: black;
  font-family: Arial;
}

p {
  color: black;
  font-family: Arial;
}
